<div class="container my-4">

  <div class="row">
    <div class="col text-center">
      <% provide(:title,'ユーザー検索') %>
      <h4><%= title %></h4>
    </div>
  </div>

  <div class="row member_index_search">
    <div class="col-sm-md">
      <%= render 'search_form', q: q, url: url %>
    </div>
  </div>

  <div class="row my-4 text-center">
    <div class="col-sm-md">

      <% unless members.empty? %>

      <table class="table member_index_table">
        <thead>
          <th>ユーザー名</th>
          <th class="sm_size">在住県</th>
          <th class="sm_size">好きなワインのジャンル</th>
          <th class="sm_size">ナチュール記録数</th>
          <th class="sm_size">フォロー数</th>
          <th class="sm_size">フォロワー数</th>
          <th>ステータス</th>
        </thead>
        <% members.each do |member| %>
        <tbody>
          <tr class="member_index_tbody_tr" data-href="../../../admin/wines/myindex/<%= member.id%>">
            <td>
              <%= image_tag member.get_profile_image(60,60), class: "rounded-circle" %>
              <%= member.name %>
            </td>
            <td class="sm_size"><%= member.prefecture %></td>
            <td class="sm_size"><%= member.favorite_genre %></td>
            <td class="sm_size"><%= member.wines.count %></td>
            <td class="sm_size"><%= member.followings.where(is_deleted: false).count %></td>
            <td class="sm_size"><%= member.followers.where(is_deleted: false).count %></td>
　　　　　　<% if member.is_deleted == false %>
              <td class="text-success">有効</td>
            <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>

      <% else %>
      <p>
      ユーザーが見つかりませんでした。<br>
      お探しのユーザー名を確認してください。
      </p>
      <% end %>

    </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <%= paginate members, theme: 'bootstrap-5' %>
  </div>
      
</div>

<script>
  window.onload = function() { //HTMLを読み込んでからscriptを読み込む
    $(".member_index_tbody_tr").on('click', function() {
      window.location = $(this).data("href");
    });
  }
</script>