<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-6 text-left">
      <h2><%= @member.name %>さんの登録情報</h2>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-6 text-right">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">ユーザーID</th>
          <td><%= @member.id %></td>
        </tr>
        <tr>
        <tr>
          <th class="table-active">プロフィール画像</th>
          <td>
            <%= image_tag @member.get_profile_image(150,150), class: "rounded-circle" %>
          </td>
        </tr>
        <tr>
          <th class="table-active">ユーザーネーム(※必須:50文字以内)</th>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス(※必須)</th>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <th class="table-active">好きなワインのジャンル</th>
          <td><%= @member.favorite_genre %></td>
        </tr>
        <tr>
          <th class="table-active">在住県</th>
          <td><%= @member.prefecture %></td>
        </tr>
        <tr>
          <th class="table-active">紹介文</th>
          <td><%= @member.introduction %></td>
        </tr>
        <tr>
          <th class="table-active">ステータス</th>
          <td>
            <% if @member.is_deleted == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-5 text-right ml-5">
        <% if @member.name != "guestuser" %>
          <%= link_to "→ Edit", edit_admin_member_path(@member), class:"btn btn-info btn-info px-5 py-1 member_show__edit_btn" %>
        <% end %>
      </div>
    </div>
</div>


<style>
  .member_show__edit_btn {
    font-size: 18px;
    font-weight: bold;
  }
</style>