<div class="container justify-content-center my-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>管理者Log in</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="field">
        <%#= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", size: "30" %>
      </div>

      <div class="field">
        <%#= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", size: "30"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3 text-left">
      <%= f.submit "Log-In", class: "btn btn-info px-5 log_in_btn" %>
    </div>
  </div>
  <% end %>


<%= render "admin/shared/links" %>

