<!-- ナチュール記録ボタン -->
    <%= render 'public/wines/post_wine-btn' %>

<div class="container my-4">
  <div class="row">
    <div class="col-sm text-center text_blue">
      <h1 class="about_catch-copy">What about...    <span class="about_logo">NaturNote </span>??</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm text-center text_blue">
      <h5 class="about_text">ナチュール（自然派ワイン）が好きな人のための</br>
          <strong>「飲んだナチュールのラベル記録」「ナチュールが楽しめる飲食店探し」</strong>ができるサービスです！</h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm text-center text_blue">
      <h5 class="about_text mb-4">みんなどんなナチュールを飲んでいるんだろう？</br>どこでナチュールが楽しめるんだろう？</h5>
      <h5 class="mt-2 about_text">気に入ったラベル・飲んでみたいナチュール、行ってみたいお店が載ってる投稿に<i class="fas fa-heart"></i>(いいね)や<i class="fas fa-bookmark"></i>(保存)をしてみよう！</h5>
    </div>
  </div>
  <div class="row mt-5 about_content">
    <div class="col-sm text-center">
      <%= image_tag "about_winefarm.jpg", size: "400x270", class: "about_image" %>
    </div>
    <div class="col-sm text-center mt-4">
      <h5 class="about_content_title">ナチュール(自然派ワイン)とは？</h5>
      <h6 class="mt-4">「出来るだけ無農薬でぶどうを育て、</br>添加物を極力ゼロに近づけて造ったワイン」</h6>
      <h6 class="mt-4">普通のワインとの違いは？</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　 濁ってる、澱（おり）が見える</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　日持ちがしない　　　　　　　</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　個性豊か　　　　　　　　　　</h6>
    </div>
  </div>

  <div class="row mt-5 about_content">
    <div class="col-sm text-center mt-4">
      <h5 class="about_content_title">自分が飲んだナチュールを記録しよう！</h5>
      <h6 class="mt-4">生産者の個性や、ワインの個性がラベルに現れており、</br>
      １つ１つのラベルが個性的でオシャレ！</h6>
      <h6 class="mt-4">写真を撮ったら、さっそく投稿して、</br>
      自分のナチュールを記録Noteを作ろう！</h6>
      <h6>商品名や感想を記録することもOK◎</h6>
      <h5 class="mt-4">右下の「ナチュールを記録する」ボタンをClick!!</h5>
    </div>
    <div class="col-sm text-center">
      <%= image_tag "top_wine_img.png", size: "400x270", class: "about_image" %>
    </div>
  </div>

  <div class="row mt-5 about_content">
    <div class="col-sm text-center">
      <%= image_tag "about_map.png", size: "400x270", class: "about_image" %>
    </div>
    <div class="col-sm text-center mt-4">
      <h5 class="about_content_title">ナチュールが楽しめる店を探してみよう！</h5>
      <h6 class="mt-4">みんながナチュールを楽しんでいるお店を知ることができます。</h6>
      <h6 class="mt-4">近くのお店を探して、さっそくお店に行ってみよう！</h6>
      <h6 class="mt-4">「Map」ボタンから、探すことができるよ！</h6>
    </div>
  </div>

  <div class="row mt-5 about_content">
    <div class="col-sm text-center mt-4">
      <h5 class="about_content_title">ナチュール好き仲間と交流しよう！</h5>
      <h6 class="mt-4">
        他のナチュール好きの仲間を見つけてフォローしたり、</br>
        投稿にコメントをすることができます。
      </h6>
      <h6 class="mt-4">
        気になった投稿や、飲んでみたいナチュールを見つけたら、</br>
        <i class="fas fa-heart"></i>（いいね）や　<i class="fas fa-bookmark"></i>（保存）を押してみよう！</h5>
      </h6>
    </div>
    <div class="col-sm text-center">
      <%= image_tag "top_wine_img2.png", size: "400x270", class: "about_image" %>
    </div>
  </div>

  <div class="row mt-5 mb-4">
    <div class="col-sm text-center text_blue about_text_enjoy">
      ＼ Let's enjoy Naturalwine!!! ／
    </div>
  </div>

    <div class="row main-visual_sign justify-content-center mb-5">
      <div class="main-visual_sign_btn col-sm-md-3 p-5 text-center" style="background-color: #ffd700;">
        <%= link_to spots_path, class: "main-visual_sign_link" do %>
         <i class="fas fa-check"></i> Mapからお店を探す
        <% end %>
      </div>
      <div class="main-visual_sign_btn col-sm-md-3 p-5 mx-3 text-center" style="background-color: #f0e68c;">
        <%= link_to wines_path, class: "main-visual_sign_link" do %>
          <i class="fas fa-check"></i> みんなが飲んでるナチュールを見る
        <% end %>
      </div>
      <div class="main-visual_sign_btn col-sm-md-3 p-5 text-center" style="background-color: #90ee90">
        <%= link_to members_path, class: "main-visual_sign_link" do %>
          <i class="fas fa-check"></i> ユーザーを見つける
        <% end %>
      </div>
    </div>

</div>
