<!-- ナチュール記録ボタン -->
    <%= render 'public/wines/post_wine-btn' %>

<div class="container text-center my-5">

  <div class="row my-5">
    <div class="col-sm text-center">
      <h1 class="catch-copy">＼ Let's enjoy Naturalwine!!! ／</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-md-4">
      <%= image_tag "top_wine_img2.png", size: "350x250" %>
    </div>

    <div class="col-sm-md-4 ml-2">
      <%= image_tag "top_wine_img.png", size: "350x250" %>
    </div>
  </div>

  <div class="row justify-content-center my-3" >
    <div class="col-sm-md">
      <h2 class="catch-copy"></h2>
    </div>
  </div>
  
   <div class="row justify-content-center" >
    <div class="col-sm-2 text-right">
      <%= link_to 'Sign-Up', new_member_registration_path, class: "btn mb-1 pr-3 pl-3 ml-4 top_sign_in_btn" %>
    </div>
    <div class="col-sm-2 text-left">
      <%= link_to 'Log-In', new_member_session_path, class: "btn mb-1 pr-3 pl-3 ml-1 top_log_in_btn" %>
    </div>
  </div>
  <div class="row justify-content-center mb-3" >
    <div class="col-sm-3 text-center">
      <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-secondary my-3 guest_sign_in_btn", method: :post %>
    </div>
  </div>


  
  <div class="row justify-content-center about_link" >
    <div class="col-sm-md">
      <%= link_to about_path do %>
      <h3 class="about_link_text">
        <i class="far fa-hand-point-right"></i>&nbsp;<i class="far fa-hand-point-right"></i>&emsp;What about...    <span class="about_logo_link">NaturNote </span>??</h2>
      <% end %>
    </div>
  </div>

</div>

<style>
.catch-copy{
  color: #3d83bf;
}

.about_link_text {
  color: #808080;
}

.about_logo_link {
  font-family: 'Carter One', cursive;
  font-size: 50px;
  color: #808080;
}

.top_sign_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

.top_log_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

.guest_sign_in_btn{
  font-size: 16px;
  border-radius: 10px;
}



</style>
