<!-- ナチュール記録ボタン -->
    <%= render 'public/wines/post_wine-btn' %>

<div class="container text-center my-5">

  <div class="row justify-content-between align-items-end">
    <div class="col-sm-md-4 mr-3 mb-3">
      <%= image_tag "top_wine_img.png", size: "350x250" %>
    </div>
    <div class="col-sm-md-3 ml-2 mr-4">
      <%= image_tag "logo4.jpg", class: "rounded-circle", size: "300x300", :style=>"border: 2px solid #3d83bf;" %>
    </div>
    <div class="col-sm-md-4 text-right ml-4 mb-3">
      <%= image_tag "top_wine_img2.png", size: "350x250" %>
    </div>
  </div>

  <div class="row justify-content-center my-3" >
    <div class="col-sm-md">
      <h2 class="catch-copy"></h2>
    </div>
  </div>
  
   <div class="row justify-content-center" >
    <div class="col-sm-2 text-right">
      <%= link_to 'Sign-Up', new_member_registration_path, class: "btn btn-sm mb-1 pr-3 pl-3 ml-4 top_sign_in_btn" %>
    </div>
    <div class="col-sm-2 text-left">
      <%= link_to 'Log-In', new_member_session_path, class: "btn btn-sm mb-1 pr-3 pl-3 ml-4 top_log_in_btn" %>
    </div>
  </div>
  <div class="row justify-content-center mb-3" >
    <div class="col-sm-3 text-center">
      <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-secondary btn-sm mb-3 guest_sign_in", method: :post %>
    </div>
  </div>
  
  <div class="row justify-content-center my-3" >
    <div class="col-sm-md">
      <h2 class="catch-copy">
        <i class="far fa-hand-point-right"></i>&emsp;What about...    <span class="about_logo">NaturNote </span>??</h2>
    </div>
  </div>
  
  <div class="row justify-content-center my-3" >
  </div>


  <div class="row main-visual_sign justify-content-center">
    <div class="main-visual_sign_btn col-sm-md-3 p-5 text-center" style="background-color: #ffd700;">
      <%= link_to spots_path, class: "main-visual_sign_link" do %>
       <i class="fas fa-check"></i> Mapからお店を探す
      <% end %>
    </div>
    <div class="main-visual_sign_btn col-sm-md-3 p-5 mx-3 text-center" style="background-color: #f0e68c;">
      <%= link_to wines_path, class: "main-visual_sign_link" do %>
        <i class="fas fa-check"></i> みんなが飲んでるナチュールを見る
      <% end %>
    </div>
    <div class="main-visual_sign_btn col-sm-md-3 p-5" style="background-color: #90ee90">
      <%= link_to members_path, class: "main-visual_sign_link" do %>
        <i class="fas fa-check"></i> ユーザーを見つける
      <% end %>
    </div>
  </div>
    
</div>

<style>
.about_logo_link {
  font-family: 'Carter One', cursive;
  font-size: 40px;
}

.top_sign_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
}

.top_log_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
}
</style>
