<!-- ナチュール記録ボタン -->
    <%= render 'public/wines/post_wine-btn' %>

<div class="container text-center my-5">

  <div class="row my-5">
    <div class="col-sm text-center text_blue">
      <h1 class="top_catch_copy">＼ Let's enjoy Naturalwine!!! ／</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-md-3 align-self-center mr-2 mt-2">
      <%= image_tag "top_heart_left.png", size: "130x130", class: "top_heart" %>
    </div>
    <div class="col-sm-md-3">
      <%= image_tag "top_wine_img2.png", size: "350x250", class: "top_wine_img" %>
    </div>

    <div class="col-sm-md-3 ml-2">
      <%= image_tag "top_wine_img.png", size: "350x250", class: "top_wine_img" %>
    </div>
    <div class="col-sm-md-3 align-self-center ml-4 mt-4">
      <%= image_tag "top_heart_right.png", size: "130x130", class: "top_heart" %>
    </div>
  </div>

   <div class="row justify-content-center mt-5" >
    <div class="col-sm-md-2 text-right mr-4">
      <%= link_to 'Sign-Up', new_member_registration_path, class: "btn mb-1 pr-3 pl-3 py-1 ml-4 top_sign_in_btn" %>
    </div>
    <div class="col-sm-md-2 text-left mr-3">
      <%= link_to 'Log-In', new_member_session_path, class: "btn mb-1 pr-3 pl-3 py-1 ml-1 top_log_in_btn" %>
    </div>
  </div>
  <div class="row justify-content-center mb-3" >
    <div class="col-sm-md-3 text-center">
      <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-secondary my-3 guest_sign_in_btn", method: :post %>
    </div>
  </div>



  <div class="row justify-content-center mt-3" >
    <div class="col-sm-md align-self-end mb-1">
      <h3 class="about_text_point"><i class="far fa-hand-point-right"></i>&nbsp;<i class="far fa-hand-point-right"></i>&emsp;</h3>
    </div>
    <div class="col-sm-md">
      <%= link_to about_path, class: "btn" do %>
      <h4 class="about_link_text">
        What about...    <span class="about_logo_link">NaturNote </span>??</h4>
      <% end %>
    </div>
  </div>

</div>
