<div class="container my-4">
  
<div class="row justify-content-center">
    <div class="col-7">
      <h2><%= @member.name %>のユーザー登録情報編集</h2>
    </div>
  </div>

  
  <%= form_with model: @member do |f| %>

    <div class="row justify-content-center">
			 <div class ="col-7">
			   <table class="table table-bordered">
			     <tr>
              <th class="table-active"><%= f.label :profile_image, "プロフィール画像" %></th>
              <td><%= f.file_field :profile_image, accept: "image/*", :placeholder =>"#{@member.profile_image}" %></td>
            </tr>
            <tr>
              <th class="table-active"><%= f.label :name, "ユーザー名(※必須:50文字以内)" %></th>
              <td><%= f.text_field :name, :placeholder =>"#{@member.name}" %></td>
            </tr>
            <tr>
              <th class="table-active"><%= f.label :email, "メールアドレス(※必須)" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"#{@member.email}" %></td>
            </tr>
            <tr>
              <th class="table-active"><%= f.label :favorite_genre, "好きなワインのジャンル" %></th>
              <td>
                <%= f.select :favorite_genre, Member.favorite_genres.keys, {}, :placeholder =>"#{@member.favorite_genre}" %>
              </td>
            </tr>
            <tr>
              <th class="table-active"><%= f.label :prefecture, "在住県" %></th>
              <td>
                <%= f.select :prefecture, Member.prefectures.keys, {}, :placeholder =>"#{@member.prefecture}" %>
              </td>
            </tr>
            <tr>
              <th class="table-active"><%= f.label :introduction, "紹介文" %></th>
              <td><%= f.text_area :introduction, :placeholder =>"#{@member.introduction}" %></td>
            </tr>
         </table>
       </div>
    </div>

    <div class="row justify-content-center">
      <div class ="col-7 text-center">
        <%= f.submit "→ Update", class:"btn btn-info px-5 py-1 member_edit__update_btn" %>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-7 text-left">
        <h6>※退会を希望する方はこちらからこちらから手続きを行なってください</h6>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 text-right">
        <%= link_to "→退会する", confirm_unsubscribe_path, class: "btn px-3 py-1 member_edit__withdraw_btn" %>
        <%= link_to "→Back", :back, class:"btn px-3 py-1 ml-3 member_edit__back_btn" %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .member_edit__update_btn {
    font-size: 18px;
    font-weight: bold;
  }

  .member_edit__withdraw_btn {
    background-color :#fa8072;
    color: #ffffff;
    font-size: 16px;
  }

  .member_edit__back_btn {
    background-color :#808080;
    color: #ffffff;
    font-size: 16px;
  }
</style>