<div class="container my-4">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>ユーザー名</th>
          <th>在住県</th>
          <th>好きなワインのジャンル</th>
          <th>ナチュール記録数</th>
          <th>フォロー数</th>
          <th>フォローワー数</th>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <td>
            <%= link_to wines_myindex_path(member) do %>
              <%= image_tag member.get_profile_image(60,60), class: "rounded-circle" %>
              <%= member.name %>
            <% end %>
          </td>
          <td><%= member.prefecture %></td>
          <td><%= member.favorite_genre %></td>
          <td><%= member.wines.count %></td>
          <td>○</td>
          <td>○</td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>