<%= render "layouts/error_messages", resource: resource %>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-sm-6 ml-5 ">
　　　<h3>新規会員登録</h3>
　　　<h6 class="text_red">※の項目は入力が必須です</h6>
　　</div>
  </div>

  <div class="row justify-content-center">

    <%#.レスポンシブ対応 画面サイズ 1025px以上から適用 %>
    <div class="col-7 text-center lg_size">
      

      <%= form_with model: @member, url: member_registration_path do |f| %>
      <table class="table member_info member_form">
          <tr>
            <th class="table-active"><span class="text_red">※</span>ユーザー名(50字以内)</th>
            <td colspan="2"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th class="table-active"><span class="text_red">※</span>メールアドレス</th>
            <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th class="table-active"><span class="text_red">※</span>パスワード(6文字以上)</th>
            <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th class="table-active"><span class="text_red">※</span>パスワード(確認用)</th>
            <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th class="table-active">プロフィール画像</th>
            <td colspan="2"><%= f.file_field :profile_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th class="table-active">好きなワインのジャンル</th>
            <td colspan="2">
              <%= f.select :favorite_genre, Member.favorite_genres.keys, {}, :placeholder =>"#{@member.favorite_genre}" %>
            </td>
          </tr>
          <tr>
            <th class="table-active">在住県</th>
            <td colspan="2">
              <%= f.select :prefecture, Member.prefectures.keys, {}, :placeholder =>"#{@member.prefecture}" %>
            </td>
          </tr>
          <tr>
            <th class="table-active">紹介文</th>
            <td colspan="2"><%= f.text_area :introduction %></td>
          </tr>
      </table>

       <div class="row justify-content-center">
         <div class="col-5 text-center">
           <%= f.submit "Sign-Up", class: "btn btn-info btn-block sign_up_btn" %>
         </div>
       </div>
       <% end %>
    </div>

     <%#.レスポンシブ対応 画面サイズ 1024px以下から適用 %>
    <div class="col-sm-4 md_size ml-5">
      <%= form_with model: @member, url: member_registration_path do |f| %>
        <div class="field my-3">
          <span class="text_red">※</span>ユーザー名(50字以内)<br />
          <%= f.text_field :name %>
        </div>
        <div class="field my-3">
          <span class="text_red">※</span>メールアドレス<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field my-3">
          <span class="text_red">※</span>パスワード(6文字以上)<br />
          <%= f.password_field :password, autocomplete: "new-password" %></td>
        </div>
        <div class="field my-3">
          <span class="text_red">※</span>パスワード(確認用)<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="field my-3">
          プロフィール画像<br />
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="field my-3">
          好きなワインのジャンル<br />
          <%= f.select :favorite_genre, Member.favorite_genres.keys, {}, :placeholder =>"#{@member.favorite_genre}" %>
        </div>
        <div class="field my-3">
          在住県<br />
          <%= f.select :prefecture, Member.prefectures.keys, {}, :placeholder =>"#{@member.prefecture}" %>
        </div>
         <div class="field my-3">
          紹介文<br />
          <%= f.text_area :introduction %>
        </div>

        <div class="row justify-content-center">
          <div class="col-10 text-center mr-5">
            <%= f.submit "Sign-Up", class: "btn btn-info btn-block sign_up_btn" %>
          </div>
        </div>

      <% end %>
    </div>

  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-10 text-center">
      <h5>※既に登録済みの方はこちらから</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <p><%= link_to "→ Log-In", new_member_session_path, class: "underline" %></p>
    </div>
  </div>

</div>
