<!-- ナチュール記録ボタン -->
  <%= render 'public/wines/post_wine-btn' %>

<div class="container my-4 justify-content-center">
  <div class="row-sm-md mb-3">
    <div class="col-sm-md-8 map_headline">
      📍ナチュール投稿お店一覧map
    </div>
  </div>
  <div class="row-sm-md mb-1">
    <div class="col-sm-md-8 map_explanation">
      <i class="fas fa-map-marker-alt"></i>をClickすると、お店の詳細画面へ移動するリンクが表示されます。<br>
        リンクをClickして、お店の場所で投稿されたナチュールを見てみよう！
    </div>
  </div>

  <%#map %>
  <div class="row justify-content-center">
    <div class="col-sm-md">
      <div id='map'></div>
    </div>
  </div>
</div>

<style>
#map {
  height: 600px;
  width: 1000px;
}

@media screen and (max-width:425px) {
  #map {
    height: 350px;
    width: 350px;
  }
 }
</style>

<!-- js部分 -->
<script>
    function initMap() { //コールバック関数

      //初期表示位置
      let latlng = new google.maps.LatLng(36.00, 137.6); //LatLngクラスは位置座標のインスタンスを作成するためのクラス
      
      //指定したオプションで新しい地図を作成。optionsはcenterとzoomの設定が必須。
      let map = new google.maps.Map(document.getElementById('map'), { //'map'というidを取得してマップを表示
          zoom: 7,
          center: latlng
      });

     //複数マーカー ここから
      <% @spots.each do |spot|%>
        ( function() {
          // 緯度経度のデータ作成(データがなければ0度のところにピンを立てる。)
            // 論理和代入演算子 (x ||= y) は、x が偽値である場合にのみ代入を行います。
          let markerLatLng = { lat: <%= spot.lat ||= 0 %>, lng: <%= spot.lng ||= 0 %> };
          let marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
          });
         //マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= spot_path(spot.id) %>' data-turbolinks='false'><%= spot.spot_name %></a>"
          });
          //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで
  }
</script>

<%# URLにパラメータでcallback=initMapを付与して、APIが読み込まれたらinitMap()という関数を実行するようにしている。%>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>