<!-- ナチュール記録ボタン -->
  <%= render 'public/wines/post_wine-btn' %>

<div class="container my-4 wine_index_container">
  <div class="row justify-content-center">
    <div class="col-sm-md">
      <h2>📍<%= @spot.spot_name %></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-md">
     <h6>〒<%= @spot.address %></h6>
    </div>
  </div>

  <%#map %>
  <div class="row justify-content-center">
    <div id='map'></div>
  </div>

  <%#= render 'public/wines/index', wines: @wines, genres: @genres, spot: @spot %>
  
    <!-- タブ作成-->
  <div class ="row justify-content-center mt-3" >
    <div class ="col">
      <ul id="tab-menu">
          <li><a href="#tab-All" class="active">All</a></li>
        <% @genres.each do |genre| %>
          <li><a href="#tab-<%= genre.genre_name %>" class=""><%= genre.genre_name %></a></li>
        <% end %>
        </ul>
     </div>
  </div>
  
  <!-- タブの内容作成-->
  <div class ="row">
    <div id="tab-contents">
  
      <!-- Allを表示-->
      <div id="tab-All" class="tab">
        <% @wines.each do |wine| %>

          <div>
            <div class="card-deck wine_card my-2 pt-1 px-1 text_blue" style="width:310px;">
              <div class ="card">
  
                <div class ="card_spot_name ml-2">
                  <%= link_to spot_path(wine.spot) do %>
                    📍<%= wine.spot.spot_name %>
                  <% end %>
                </div>
                <div class ="card_wine_image text-center">
                  <%= link_to wine_path(wine) do %>
                    <%= image_tag wine.get_wine_image(260,290) %>
                  <% end %>
                </div>
                <div class ="card_member_name ml-4 mt-1">
                 <%= link_to wines_myindex_path(wine.member.id) do %>
                    <%= wine.member.name %>
                  <% end %>
                </div>
                <div id= "wine_<%= wine.id %>">
                  <div class ="row card_under_info d-flex justify-content-end mx-1 mt-1">
                    <% if wine.is_again == true && wine.member == current_member %>
                      <div class ="card_against mr-4 pr-5">
                        <i class="fas fa-check"></i>
                      </div>
                    <% end %>
                    <div class ="card_comment ml-5">
                      <%= link_to wine_path(wine.id) do%>
                        <i class="far fa-comment"></i><%= wine.comments.count %>
                      <% end %>
                    </div>
                    <div class ="card_favorites favorite-btn mx-3">
                       <%= render 'public/favorites/favorite-btn', wine: wine %>
                    </div>
                    <div class ="card_bookmark bookmark-btn mr-3">
                       <%= render 'public/bookmarks/bookmark-btn', wine: wine %>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        <% end %>
      </div>
  
     <!-- ジャンルごとに表示-->
      <% @genres.each do |genre| %>
        <div id="tab-<%= genre.genre_name %>" class="tab">
           <!-- Spotでwineを絞り込む-->
          <% genre.wines.where(spot_id: @spot.id).each do |wine| %>
            
            <div>
              <div class="card-deck wine_card my-2 pt-1 px-1" style="width:310px;">
                <div class ="card">
  
                  <div class ="card_spot_name ml-2">
                    <%= link_to spot_path(wine.spot) do %>
                     📍<%= wine.spot.spot_name %>
                    <% end %>
                  </div>
                  <div class ="card_wine_image text-center">
                    <%= link_to wine_path(wine) do %>
                      <%= image_tag wine.get_wine_image(260,290) %>
                    <% end %>
                  </div>
                  <div class ="card_member_name ml-4 mt-1">
                    <%= link_to wines_myindex_path(wine.member.id) do %>
                      <%= wine.member.name %>
                    <% end %>
                  </div>
  
                  <div id= "wine_<%= wine.id %>">
                    <div class ="row card_under_info d-flex justify-content-end mx-1 mt-1">
                      <% if wine.is_again == true && wine.member == current_member %>
                        <div class ="card_against mr-4 pr-5">
                          <i class="fas fa-check"></i>
                        </div>
                      <% end %>
                      <div class ="card_comment ml-5">
                      <%= link_to wine_path(wine.id) do%>
                        <i class="far fa-comment"></i><%= wine.comments.count %>
                      <% end %>
                    </div>
                    <div class ="card_favorites favorite-btn mx-3">
                       <%= render 'public/favorites/favorite-btn', wine: wine %>
                    </div>
                    <div class ="card_bookmark bookmark-btn mr-3">
                       <%= render 'public/bookmarks/bookmark-btn', wine: wine %>
                    </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  
    </div>
  </div>

</div>

<style>
#map {
  height: 400px;
  width: 400px;
}

@media screen and (max-width:425px) {
  #map {
    height: 300px;
    width: 300px;
  }
 }
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @spot.lat %>, lng: <%= @spot.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @spot.lat %>, lng: <%= @spot.lng %>},
    map: map
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>