  <%= form_with model: wine, url:method do |f| %>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">記録するナチュール写真</th>
          <td>
            <%= f.file_field :wine_image, accept: "image/*" %>
          </td>
        </tr>
        <tr>
          <th class="table-active">飲食店</th>
          <td>
            <%#= f.text_field :shop_name, placeholder:"ショップ名" %>
          </td>
        </tr>
        <tr>
          <th class="table-active">商品名</th>
          <td>
            <%= f.text_field :wine_name %>
          </td>
        </tr>
        <tr>
          <th class="table-active">生産国</th>
          <td>
            <%= f.text_field :production_country %>
          </td>
        </tr>
        <tr>
          <th class="table-active">生産年</th>
          <td>
            <%= f.text_field :production_year %>
          </td>
        </tr>
        <tr>
          <th class="table-active">種類</th>
          <td>
            <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "--選択してください--", class: "form-control border-dark", style: "background-color:#fcfced" %>
          </td>
        </tr>

        <tr>
          <th class="table-active">評価</th>
          <td>
            <% if wine.id.nil? %>
              <div class="form-group" id="star"></div>
              <div id="post_raty"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#post_raty');
                  if (elem == null) return;

                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'wine[rate]',
                   };
                  raty(elem, opt);
                 });
              </script>
            <% else %>
              <div class="form-group">
                <%= render "static_rate", wine: wine %>
              </div>
            <% end %>
          </td>
        </tr>

        <tr>
          <th class="table-active">感想</th>
          <td>
            <%= f.text_area :impression %>
          </td>
        </tr>
        <tr>
          <th class="table-active">また飲みたい判定</th>
          <td>
            <%= f.radio_button :is_again, true %>
　　　　　　<%= f.label :is_again_true, "また飲みたいリストに入れる" %>

　　　　　　<%= f.radio_button :is_again, false %>
　　　　　　<%= f.label :is_again_false, "また飲みたいリストには入れない" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
    </div>
  </div>
<% end %>