<!-- タブ作成-->
<div class ="row justify-content-center" >
  <div class ="col">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <%= link_to wines_path do %>
          <li class="nav-item">
            <div class="nav-link <%= "active" if params[:genre_id].nil? %>" id="all-tab">All</div>
          </li>
        <% end %>
      </li>
      <% genres.each do |genre| %>
        <%= link_to wines_path(genre_id: genre.id) do %>
          <li class="nav-item">
            <div class="nav-link <%= "active" if genre.id.to_s == params[:genre_id] %>" id="<%= genre.genre_name %>-tab"><%= genre.genre_name %></div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!-- タブの内容作成-->
<div class ="row justify-content-center d-flex flex-wrap">
  <div class ="tab-content" id="myTabContent">
    <!--Allリスト-->
    <div id="all" class="tab-pane fade show active justify-content-center d-flex flex-wrap active" role="tabpanel" aria-labelledby="all-tab" style="padding:10px;">
      　<% wines.each do |wine| %>
          <div class="card-deck  my-2 pt-1 px-1" style="width:250px;">
            <div class ="card text-center">
              <div class ="card_spot_name">
                <%= link_to spot_path(wine.spot) do %>
                 📍<%= wine.spot.spot_name %>
                <% end %>
              </div>
              <div class ="card_wine_image text-center">
                <%= link_to wine_path(wine) do %>
                  <%= image_tag wine.get_wine_image(250,250) %>
                <% end %>
              </div>
             <div class ="card_member_name">
                <%= link_to wines_myindex_path(wine.member.id) do %>
                 <%= wine.member.name %>
                <% end %>
              </div>
              <div class ="row d-flex justify-content-end">
                <div class ="col card_commenr_name">
                    <%= link_to wine_path(wine.id) do%>
                      <i class="far fa-comment"></i><%= wine.comments.count %>
                    <% end %>
                </div>
                <div class ="col card_favorites">
                  <% if wine.favorited_by?(current_member) %>
                    <p>♥<%= wine.favorites.count %></p>
                  <% else %>
                    <p> ♡<%= wine.favorites.count %></p>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
    <% end %>
　　</div>
  </div>
</div>

