<div class="member_info_contents">
  <div class="row mb-5 myindex_show_profile">
    <div class="col-sm-3">
        <h4 class="text-left">
          <%= image_tag member.get_profile_image(70,70), class: "rounded-circle" %>
          <%= member.name %>
          <% if member == current_member %>
            <%= link_to member_path(member), class: "text_blue" do %>
              &nbsp;<i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </h4>

        <div class="mt-3 text-center">
        <%= link_to followings_member_path(member), class: "text_blue" do %>
          フォロー数　：<span class="followings_count"><%= render "public/relationships/followings_counter", member: member %></span>
        <% end %>
        </div>
        <div class="mt-3 text-center">
        <%= link_to followers_member_path(member), class: "text_blue" do %>
          フォロワー数：<span class="followers_count-<%= member.id %>"><%= render "public/relationships/followers_counter", member: member %></span>
        <% end %>
        </div>

    </div>

    <div class="col-sm-md-4 myindex_show_table">
      <table class="table table-sm" style="color: #555555;">
        <tr>
          <th class="text-left">在住県</th>
          <td class="text-left"><%= member.prefecture %></td>
        </tr>
        <tr>
          <th class="text-left">好きなワインのジャンル</th>
          <td class="text-left"><%= member.favorite_genre %></td>
        </tr>
        <tr>
          <th class="text-left">紹介文</th>
          <td class="text-left">
            <%# 改行をviewページに反映させる %>
            <%#= member.introduction %><%=safe_join(member.introduction.split("\n"),tag(:br))%>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-sm-3">
      <div class="btn">
        <%= link_to wines_myindex_path(member), class: "member_info_content_list" do %>
          <h7><i class="fas fa-wine-bottle"></i>&nbsp;ナチュール記録all</h7>
        <% end %>
        </div>
      <div class="btn">
        <%= link_to wines_again_index_path(member), class: "member_info_content_list" do %>
          <i class="fas fa-check"></i>&nbsp;また飲みたいナチュール
        <% end %>
      </div>
      <% if current_member == member %>
      <div class="btn">
        <%=link_to bookmarks_member_path(member), class: "member_info_content_list" do %>
          <i class="fas fa-bookmark"></i>&nbsp;ブックマークした投稿
        <% end %>
      </div>
      <div class="btn">
        <%=link_to followings_wine_member_path(member), class: "member_info_content_list" do %>
          <i class="fas fa-users"></i>&nbsp;フォローユーザーの投稿
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-sm-md-2 relationships_btn-<%= member.id %>">
      <%= render 'public/relationships/relationship', member: member %>
    </div>
  </div>

</div>
