  <%= form_with model: wine, url:method do |f| %>
  <div class="row mt-3">
    <div class="col-11">
      <table class="table table-bordered">
        <tr>
          <th class="table-active"><span class="text_red">※</span>記録するナチュール写真</th>
          <td>
            <%= f.file_field :wine_image, accept: "image/*" %>
          </td>
        </tr>
        <tr>
          <th class="table-active">飲食店</th>
          <td>
            <%= spot.spot_name %>
            <%= f.hidden_field :spot_id, value: spot.id %>
              <%= link_to "編集", edit_spot_path(spot.id, wine_id: wine.id) %>
          </td>
        </tr>
        <tr>
          <th class="table-active">商品名</th>
          <td>
            <%= f.text_field :wine_name, size: 40 %>
          </td>
        </tr>
        <tr>
          <th class="table-active">生産国</th>
          <td>
            <%= f.text_field :production_country %>
          </td>
        </tr>
        <tr>
          <th class="table-active">生産年</th>
          <td>
            <%= f.text_field :production_year %>
          </td>
        </tr>
        <tr>
          <th class="table-active"><span class="text_red">※</span>ワインのジャンル</th>
          <td>
            <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "--選択してください--", class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <th class="table-active">評価</th>
          <td>
            <% if wine.id.nil? %>
              <div class="form-group" id="star"></div>
              <div id="post_raty"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#post_raty');
                  if (elem == null) return;

                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'wine[rate]',
                   };
                  raty(elem, opt);
                 });
              </script>
            <% else %>
              <div class="form-group">
                <%= render "static_rate", wine: wine %>
              </div>
            <% end %>
          </td>
        </tr>

        <tr>
          <th class="table-active">感想</th>
          <td>
            <%= f.text_area :impression, size: "40x5" %>
          </td>
        </tr>
        <tr>
          <th class="table-active">また飲みたい判定</th>
          <td class="text_left">
            <%= f.radio_button :is_again, true %>&emsp;また飲みたいリストに入れる

　　　　　　<%= f.radio_button :is_again, false %>&emsp;また飲みたいリストには入れない
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7 justify-content-center">
      <%= f.submit '→　投稿する', class:"btn btn-info btn-block mt-4 px-5 py-2" %>
    </div>
  </div>
<% end %>