<div class="container justify-content-center wine_show_main">
  <div class="row mt-5 justify-content-center wine_show ">
    <div class="wine_show_contents">
        <div class="col">
          📍<%= @wine.spot.spot_name %></br>
           〒<%= @wine.spot.address %></br>
           <%= image_tag @wine.get_wine_image(400,400) %></br>
           <h5 class="wine_show__favorite_comment d-flex mt-3">
             <div id= "wine_<%= @wine.id %>">
               <div class= "favorite-btn">
                 <%= render 'public/favorites/favorite-btn', wine: @wine %>
               </div>
             </div>

             <div class="comments-count">
        　　　　　<%= render "public/comments/counter", wine: @wine %>
             </div>
           </h5>
        </div>
        <div class="col mt-5">
          <table class="table">
            <tr>
              <th><%= image_tag @wine.member.get_profile_image(50,50), class: "rounded-circle" %></th>
              <td><%= @wine.member.name %></td>
            </tr>
            <tr>
              <th>投稿日</th>
              <td><%= @wine.created_at.strftime('%Y/%m/%d') %> </td>
            </tr>
            <tr>
              <th>生産国</th>
              <td><%= @wine.production_country %> </td>
            </tr>
            <tr>
              <th>年代</th>
              <td><%= @wine.production_year %> </td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @wine.genre.genre_name %> </td>
            </tr>
            <tr>
              <th>評価</th>
              <td><%= render "static_rate", wine: @wine %></td>
            </tr>
            <tr>
              <th>感想</th>
              <td><%= @wine.impression %> </td>
            </tr>
            <tr>
              <th></th>
              <% if @wine.is_again == false %>
                <td class="text-success"></td>
              <% else %>
                <td class="text-secondary">また飲みたい</td>
              <% end %>
            </tr>
          </table>
          <div class="wine_show__update_destroy_btn">
            <% if @wine.member == current_member %>
              <%= link_to "編集", edit_wine_path(@wine) %>
              <%= link_to "削除", wine_path(@wine), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          　<% end %>
        　</div>
        </div>
      </div>
      <div>
        <h5>map</h5>
      </div>
    </div>
  <div class="row justify-content-center mt-3">
    <div class="col">
      <div class="comment">
        <%= render "public/comments/comment", wine: @wine %>
      </div>
      <div class="form">
        <%= render "public/comments/form", wine: @wine, comment: @comment %>
      </div>
    </div>

  </div>
</div>
