<header class="d-flex flex-column">
  <div class="container-fluid">
    <nav class="navbar">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">ナチュールラバーズ</a>
      <% else %>
        <a class="navbar-brand" href="/">ナチュールラバーズ</a>
      <% end %>
      <div>
        <ul class="navbar-nav list-group list-group-horizontal" >
          <% if admin_signed_in? %>
            <!--管理者ログイン後-->
            <li class="nav-item">
              <%#= link_to "商品一覧", admin_items_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_members_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%#= link_to "注文履歴一覧", admin_root_path, class: 'nav-link btn pr-1 pl-1 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn pr-1 pl-1 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn pr-2 pl-2 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
          <% elsif member_signed_in? %>
            <!--会員ログイン後-->
            <li class="nav-item pt-2">
              <p>ようこそ <%= current_member.name %>さん！</p>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", mypage_path, class: 'nav-link btn pr-1 pl-1 ml-4', :style=>"background-color:#fcfced" %>
            </li>
            <li class="nav-item">
              <%#= link_to "商品一覧", items_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ナチュール投稿", new_wine_path, class: 'nav-link btn pr-4 pl-4 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link btn pr-1 pl-1 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
          <% else %>
            <!--ログイン前-->
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn pr-4 pl-4 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%#= link_to "商品一覧", items_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link btn pr-3 pl-3 ml-4', :style=>"background-color:#fcfced;" %>
            </li>
          <% end %>
        </ul>
        <div class="form-group text-right mt-3">
        	<%#= render 'layouts/search' %>
        </div>
      </div>
    </nav>
  </div>
</header>