<header class="d-flex flex-column">
  <div class="container-fluid">
    
    <%#.レスポンシブ対応 画面サイズ 1025px以上から適用 %>
    <nav class="navbar navbar lg_size">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% end %>

      <div>
        <ul class="navbar-nav list-group list-group-horizontal" >
          <% if admin_signed_in? %>
            <!--管理者ログイン後-->
            <li class="nav-item">
              <%= link_to "メンバー一覧", admin_members_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", admin_wines_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", admin_spots_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn pr-1 pl-1 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn pr-2 pl-2 ml-4 header-link' %>
            </li>
          <% elsif member_signed_in? %>
            <!--会員ログイン後-->
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "mypage", wines_myindex_path(current_member), class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "メンバー一覧", members_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", wines_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", spots_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link btn pr-1 pl-1 ml-4 header-link' %>
            </li>
          <% else %>
            <!--ログイン前-->
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn pr-4 pl-4 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "nav-link btn pr-3 pl-3 ml-4 header-link", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <%#.レスポンシブ対応 画面サイズ 1024px以下から適用 %>
    <nav class="navbar navbar md_size">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% end %>

      <div id="sp-menu" class="pt-3 justify-content-center nav-item">
        <ul class="navbar-nav text-center">
          <!--管理者ログイン後-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "メンバー一覧", admin_members_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", admin_wines_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", admin_spots_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn mx-5 header-link' %>
            </li>
          <!--会員ログイン後-->
          <% elsif member_signed_in? %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "mypage", wines_myindex_path(current_member), class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "メンバー一覧", members_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", wines_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", spots_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ナチュール投稿", new_spot_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link btn mx-5 header-link' %>
            </li>
          <!--ログイン前-->
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "nav-link btn mx-5 header-link", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>

      <%# ハンバーガーアイコン %>
      <div id="hm-icon">
        <a class="menu-trigger nav-item" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

    </nav>
  </div>
</header>

<script>
  $(function() {
  $('.menu-trigger').on('click', function(event) {
    $(this).toggleClass('active');
    $('#sp-menu').fadeToggle();
    event.preventDefault();
  });
});
</script>

