<header class="d-flex flex-column">
  <div class="container-fluid">

    <nav class="navbar navbar lg_size">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% end %>

      <div>
        <ul class="navbar-nav list-group list-group-horizontal" >
          <% if admin_signed_in? %>
            <!--管理者ログイン後-->
            <li class="nav-item">
              <%= link_to "メンバー一覧", admin_members_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", admin_wines_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", admin_spots_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn pr-1 pl-1 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn pr-2 pl-2 ml-4 header-link' %>
            </li>
          <% elsif member_signed_in? %>
            <!--会員ログイン後-->
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "mypage", wines_myindex_path(current_member), class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "メンバー一覧", members_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", wines_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", spots_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link btn pr-1 pl-1 ml-4 header-link' %>
            </li>
          <% else %>
            <!--ログイン前-->
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn pr-4 pl-4 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link btn pr-3 pl-3 ml-4 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "nav-link btn pr-3 pl-3 ml-4 header-link", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <%# レスポンシブ対応 %>
    <nav class="navbar navbar md_size">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.remove-bg2.png", size: "120x90" %>
        </a>
      <% end %>

      <div id="sp-menu" class="pt-3 justify-content-center nav-item">
        <ul class="navbar-nav text-center">
          <!--管理者ログイン後-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "メンバー一覧", admin_members_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", admin_wines_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", admin_spots_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn mx-5 header-link' %>
            </li>
          <!--会員ログイン後-->
          <% elsif member_signed_in? %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "mypage", wines_myindex_path(current_member), class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "メンバー一覧", members_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "投稿一覧", wines_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Map", spots_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link btn mx-5 header-link' %>
            </li>
          <!--ログイン前-->
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link btn mx-5 header-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "nav-link btn mx-5 header-link", method: :post %>
            </li>
          <% end %>
        </ul>
      </div>


    <div id="hm-icon">
      <a class="menu-trigger nav-item" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    </nav>


  </div>
</header>


<style>
/*　画面サイズ 1025px以上から適用　*/
@media screen and (min-width:1025px) {
  .md_size {
    display:none
  }
}

/*　画面サイズ 1024px以下から適用　*/
@media screen and (max-width:1024px) {
  .lg_size {
    display:none
  }
}

  /* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */

#hm-icon {
  right: 30px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3d83bf;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #4d8abf;
  color: #fff;
  width: 100%;
  min-height: 20%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

</style>

<script>
  $(function() {
  $('.menu-trigger').on('click', function(event) {
    $(this).toggleClass('active');
    $('#sp-menu').fadeToggle();
    event.preventDefault();
  });
});
</script>

